# Dependencies
/vendor/

# Composer
composer.lock
composer.phar

# PHPUnit
.phpunit.result.cache
/coverage/

# IDE
.idea/
.vscode/settings.json
.vscode/launch.json
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
